{% load humanize %}
전자책(E-Book) 구매신청이 완료되었습니다.

입금 확인 후 "{{ book.subject }}" 전자책(PDF, EPUB, MOBI)을 메일로 발송 해 드립니다.
(이메일이 도착하지 않은 경우 스팸함도 확인해 주세요)

----------------------------------------------------------------------------------
- 가격 : {{ book.price|intcomma }}원
- 입금계좌 : 국민은행 822-21-0456-971 (예금주: 박응용)
- 입금자명 : 은행거래시 입금자명에는 "이름 + 전화번호 뒤 네자리"를 입력해주세요.
              (예: 성함이 홍길동이고 전화번호가 010-1234-5678일 경우 "홍길동5678")
----------------------------------------------------------------------------------

※ 아직 시범 서비스이기에 현금 결제만 가능하니 이해해 주시면 감사하겠습니다.

- 신청자 이름 : {{ buy.buyer }}
- 이메일 : {{ buy.email }}
- 전화번호 : {{ buy.telno }}

※ 입금 후 24시간 내로 이메일이 도착하지 않을 경우 pahkey@gmail.com 으로 문의 해 주시면 신속하게 처리 해 드리겠습니다.
