{% extends "profile/profile_layout.html" %}
{% load staticfiles %}
{% load summary %}

{% block js %}
    <script type="text/javascript" src="{% static "pagination/jquery.pagination.js" %}"></script>
    <script type="text/javascript" src="{% static "profile/js/info.js" %}"></script>
{% endblock %}

{% block css %}
    <link type="text/css" href="{% static "pagination/pagination.css" %}" rel="stylesheet"/>
    <link type="text/css" href="{% static "profile/css/info.css" %}" rel="stylesheet"/>
{% endblock %}

{% block profile_menu %}
    <div class="user" style="margin-bottom:20px;">
        <a href="/profile/{{ who.id }}" class="btn btn-default btn-block">
            <i class="glyphicon glyphicon-user"></i> {{ who.first_name }}
        </a>
    </div>
    {% if not request.mobile %}
        <div class="well" style="background: #fff;">
            <div style="font-size:16px;margin-bottom:10px;"><strong>코딩도장</strong></div>
            <p>
                코딩도장은 프로그래밍 문제풀이를 통해서 코딩 실력을 수련하는 곳입니다.
            </p>

            <p>
                <a href="http://codingdojang.com">codingdojang.com</a>
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block profile_edit_content %}
    {% include "book/include/message.html" %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#recent_comments" data-toggle="tab">최근 댓글</a></li>
        <li><a href="#recent_pages" data-toggle="tab">최근 수정 페이지</a></li>
        <li><a href="#recent_books" data-toggle="tab">작성중인 책</a></li>
    </ul>

    <div class="tab-content">
        <div id="recent_comments" class="tab-pane active">
            {% for comment in comments %}
                <div class="question-line">

                    <div class="row">
                        {% if not request.mobile %}
                            <!--
                            <div class="col-md-2">
                                <div class="book-image-box">
                                    <img src="{{ MEDIA_URL }}/{{ comment.page.book.safe_image }}" class="book-image"
                                         onclick="javascript:location.href='{{ comment.page.get_absolute_url }}#comment_{{ comment.id }}'"
                                         title="{{ comment.page.book.subject }}"
                                         style="cursor:pointer"/>
                                </div>
                            </div>
                            -->
                        {% endif %}
                        <div class="col-md-10">
                            <div>
                                <a class="question-subject" href="{{ comment.page.get_absolute_url }}#comment_{{ comment.id }}">{{ comment.page.subject }}</a>
                                <span class="text-muted" style="margin:0 5px;">:</span>
                                <a href="{{ comment.page.book.get_absolute_url }}">{{ comment.page.book.subject }}</a>
                            </div>

                            <div class="question-summary" style="white-space:pre-wrap;">{{ comment.content|escape|urlize }}</div>

                            <div class="info-timesince">
                                약 {{ comment.create_time|timesince }} 전
                            </div>
                        </div>
                    </div>

                </div>

            {% empty %}
                <div class="well">
                    아직 구경만 하고 있어요
                </div>
            {% endfor %}

            {% if total_count > per_page %}
            <div class="row page-area">
                <form name="hiddenForm" id="hiddenForm" method="post" action="{{ request.path }}">
                    <input type="hidden" name="total_count" id="total_count" value="{{ total_count }}" />
                    <input type="hidden" name="current_page" id="current_page" value="{{ comments.number }}" />
                    <input type="hidden" name="per_page" id="per_page" value="{{ per_page }}" />
                    <input type="hidden" name="page" id="page" />
                </form>
                <div id="pagination" class="col-md-12" style="margin-top:-10px;"></div>
            </div>
            {% endif %}
        </div>

        <div id="recent_pages" class="tab-pane">
            {% for page in pages %}
                <div class="question-line">

                    <div class="row">
                        {% if not request.mobile %}
                            <!--
                            <div class="col-md-2">
                                <div class="book-image-box">
                                    <img src="{{ MEDIA_URL }}/{{ page.book.safe_image }}" class="book-image"
                                         onclick="javascript:location.href='{{ page.get_absolute_url }}'"
                                         title="{{ page.book.subject }}"
                                         style="cursor:pointer"/>
                                </div>
                            </div>
                            -->
                        {% endif %}
                        <div class="col-md-10">

                            <div>
                                <a href="{{ page.get_absolute_url }}"
                                   class="question-subject">{{ page.subject }}</a>
                                <span class="text-muted" style="margin:0 5px;">:</span>
                                <a href="{{ page.book.get_absolute_url }}">{{ page.book.subject }}</a>
                            </div>

                            {% if request.mobile %}
                                <div class="question-summary">
                                    {{ page.content|summary|truncatechars:"80" }}
                                </div>
                            {% else %}
                                <div class="question-summary">
                                    {{ page.content|summary|truncatechars:"160" }}
                                </div>
                            {% endif %}

                            <div class="info-timesince">
                                약 {{ page.modify_time|timesince }} 전
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="well">
                    책부터 만들구요
                </div>
            {% endfor %}
        </div>

        <div id="recent_books" class="tab-pane">
            {% for book in books %}
                <div class="question-line">
                    <div class="row">
                        {% if not request.mobile %}
                            <div class="col-md-2">
                                <div class="book-image-box">
                                    <img src="{{ MEDIA_URL }}/{{ book.safe_image }}" class="book-image"
                                         onclick="javascript:location.href='{{ book.get_absolute_url }}'"
                                         style="cursor:pointer"/>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-10">
                            <div>
                                <a href="/book/{{ book.id }}" class="question-subject">{{ book.subject }}</a>
                            </div>

                            <div class="question-summary">
                                저자: {{ book.get_plain_authors }}
                            </div>

                            {% if request.mobile %}
                                <div class="question-summary">
                                    {{ book.summary|summary|truncatechars:"80" }}
                                </div>
                            {% else %}
                                <div class="question-summary">
                                    {{ book.summary|summary|truncatechars:"160" }}
                                </div>
                            {% endif %}

                            <div class="info-timesince">
                                약 {{ book.modify_time|timesince }} 전
                            </div>
                        </div>
                    </div>


                </div>
            {% empty %}
                <div class="well">
                    아직 구상만 하고 있어요
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
